*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 120px 60px 100px;
}
.list1{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    list-style: none;
    color: black;
}
.list1 a, .list1 button{
    text-decoration: none;
}
.list1 a{
    color: black;
}
.toggler{
    display: none;
}
#second-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px 40px 100px;
}
.image1{
    width: 50%;
}
.loginbtn{
    background-color: hsl(0, 94%, 66%);
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgb(207, 207, 207);
}
.parent1{
    width: 40%;
}
.parent1 h1{
    font-size: 40px;
    line-height: 1.5;
    color:hsl(228, 39%, 23%);
    font-weight: 700;
}
.parent1 p{
    color: hsl(227, 12%, 61%);
    line-height: 1.5;
}
.chrome{
    background-color: hsl(231, 69%, 60%);
    color: white;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
}
.minfobtn{
    background-color: hsl(231, 69%, 60%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.divbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.fire{
    color: black;
    padding: 10px 35px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(207, 207, 207);
    margin-left: 10px;
    margin-top: 20px;
}
.features{
    text-align: center;
}
.features p{
    margin: 0 auto;
    line-height: 1.5;
    color: hsl(227, 12%, 61%);
    margin-top: 20px;
    width: 40%;
}
.features h1{
    font-size: 2rem;
    color:hsl(228, 39%, 23%);
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 50px;
}

.row1 , .row3{
    /* margin-top:30px; */
    width: 60%;
    margin: 0 auto;
}

.row2{
    width: 15%;
    margin-left: 368px;
    border: 1.6px solid red;
    margin-top: 25px;
}
.bookmark , .bookmark2 , .bookmark3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 60px 120px 60px 100px;
}
.image2{
    width: 50%;
}
/* .bookmark , .bookmark2 .bookmark3{
    width: 100%;
} */
 .bookmark2 , .bookmark3{
    display: none;
}
 .infobtn2 , .infobtn3{
    padding: 10px 35px;
    background-color: hsl(231, 69%, 60%);
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    box-shadow: 5px 5px 10px rgb(207, 207, 207);
    margin-top: 20px;
}
.image2bk{
  width: 50%;
}
.infobtn{
    padding: 10px 35px;
    background-color: hsl(231, 69%, 60%);
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgb(207, 207, 207);
}
.bookmark h1 , .bookmark2 h1 , .bookmark3 h1{
    font-size: 2rem;
    color:hsl(228, 39%, 23%);
    font-weight: 700;
}
.bookmark p , .bookmark2 p , .bookmark3 p{
    color: hsl(227, 12%, 61%);
    line-height: 1.5;
    margin-top: 10px;
}
.text{
    text-align: center;
    /* padding: 0 400px; */
    margin: 0 auto;
    width: 40%;
}
.text p{
    color: hsl(227, 12%, 61%);
    margin-top: 20px;
    line-height: 1.5;
}
.text h1{
    color:hsl(228, 39%, 23%);
}
.download1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    /* padding: 0 256px; */
    margin-top: 50px;
}
.downloadbtn{
    padding: 10px 35px;
    background-color: hsl(231, 69%, 60%);
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 5px 5px 10px rgb(207, 207, 207);
}
 .image3 , .image5 , .image7{
    width: 30%;
}
.download2 , .download4 , .download3{
    box-shadow: 5px 5px 10px rgb(207, 207, 207);
    height: 300px;
    width: 250px;
    padding-top: 50px;
    border-radius: 10px;
}
.image8 , .download1 p , .download1 h1 , .downloadbtn{
    margin-top: 20px;
}
.image8{
    width: 90%;
}
.download1 h1{
    font-size: 1rem;
    color:hsl(228, 39%, 23%);
}
.download1 p{
    font-size: 10px;
    color: hsl(227, 12%, 61%);
}
.download4{
    margin-top: 50px;
}
.download3{
    margin-top: 100px;
}
.text1{
    text-align: center;
    /* padding: 0 400px; */
    margin-top: 100px !important;
    margin: 0 auto;
    width: 40%;
}
.tabbtn1 , .tabbtn2 , .tabbtn3{
    border: none;
    background-color: white;
}
.text1 p{
    color: hsl(227, 12%, 61%);
    margin-top: 20px;
    line-height: 1.5;
}
.text1 h1{
    color:hsl(228, 39%, 23%);
}

.question3 , .question2 , .question4 , .question5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 37%;
    margin: 0 auto;
}
.frow{
    margin-top: 50px !important;
    width: 37%;
    margin:0 auto;
}
.frow1{
    width: 37%;
    margin-top: 20px; 
    margin: 0 auto;
}
.ans3{
    margin: 0 auto;
    width: 37%;
    display: none;
    font-size: 14px;
    padding: 30px 0;
}
.faq3.show .ans3{
    display: block;
}
.faq3.imagerotate img{
  transform: rotatez(-180deg);
  transition: .5s;
}
.question3 p , .question2 p , .question4 p , .question5 p{
    margin-top: 20px;
    color:hsl(228, 39%, 23%);
}
.question1 img{
    margin-top: 20px;
}
#contacts{
    text-align: center;
}
.contact{
    margin-top: 150px;
    background-color: hsl(231, 69%, 60%);
    color: white;
}
.contact p{
    padding: 50px;
}
.email{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
    padding: 7px;
    border-radius: 3px;
    border: none;
}
.small{
    padding: 7px;
    border-radius: 3px;
    border: none;
    background-color:  hsl(0, 94%, 66%);
    color: white;
    margin-left: 7px;
}
.contact h1{
    font-size: 1.6rem;
    margin: 0 auto;
    padding: 0 50px;
    width: 50%;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: hsl(229, 31%, 21%);
    padding: 20px 100px;
}
#footer a{
    color: white;
    list-style: none;
    text-decoration: none;
}
.logo{
    filter: invert(0.3);
}
.footerli{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.footerli li{
    list-style: none;
    text-decoration: none;
}
.footerli ul{
    display: flex;
    gap: 1rem;
}
.footer2{
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 1rem;
}
.rowd{
    display: none;
}
@media screen and (max-width: 992px) {
    .logo1{
        padding-bottom: 22px;
        margin-right: 20px;
    }
    .bookmark2 , .bookmark3{
        display: none;
    }
    #second-section{
        padding: 20px 20px 20px 50px
    }
    .parent1 h1{
        font-size: 30px;
    }
    #bookmark{
        padding: 20px !important;
    }
    .image2{
        width: 50%;
    }
    .bkdiv{
        width: 100%;
    }
    .bookmark, .bookmark2, .bookmark3{
        padding: 30px;
    }
    nav{
        padding: 50px 190px 60px 60px;
    }
    .parent1 p{
        font-size: 15px;
        margin-top: 10px;
    }
    .parent1 h1{
        font-size: 25px;
    }
    .rowd{
        display: none;
    }
}
 @media screen and (max-width: 768px) {
     html,body{
        overflow-x: hidden;
    }
    .parent1{
        width: 70%;
    }
    /* .fire{
        display: none;
    } */
    .chrome{
        margin-top: 10px;
    }
    .features p{
        width: 50%;
    }
    .bookmark, .bookmark2, .bookmark3{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .bookmark2 , .bookmark3{
        display: none !important;
    }
    .bookmark h1, .bookmark2 h1, .bookmark3 h1{
        font-size: 1.5rem;
    }
    /* .download2, .download4, .download3{
        width: 500px;
    } */
    .rowd{
        display: none;
    }
    .chrome{
        background-color: hsl(231, 69%, 60%);
        color: white;
        padding: 10px 25px;
        border: none;
        border-radius: 5px;
    }
    .fire{
        color: black;
        padding: 10px 25px;
        border: none;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgb(207, 207, 207);
        margin-left: 10px;
        margin-top: 20px;
    }
    
    
 }
 @media screen and (max-width: 576px){
   #second-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    text-align: center;
    flex-direction: column-reverse;
   }
   .ri-close-circle-line{
    display: none;
   }
   .toggler{
    display: block;
   }
   .image1 , .image2{
    width: 100%;
   }
   .parent1{
    width: 60%;
   }
   .second-btn{
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .chrome{
    background-color: hsl(231, 69%, 60%);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
.fire{
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(207, 207, 207);
    margin-left: 10px;
    margin-bottom: 10px;
}
.features{
    width: 100%;
    text-align: center;
    
}
.features p{
    width: 58%;
}
.features h1{
    font-size: 1.5rem;
}
.row{
    display: none;
}
.rowd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 30px;
}
.tabbtn1 , .tabbtn2 , .tabbtn3{
    border: none;
    background-color: white;
}
.row2{
    display: none;
}
.row1{
    display: none;
}
.bookmark , .bookmark2 , .bookmark3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5rem;
    justify-content: space-between;
}
.bkdiv , .text{
    width: 70%;
}
#download{
    margin-top: 80px;
}
.text{
    text-align: center;
    width: 58%;
}
.infobtn{
    display: none;
}
.download1{
    display: flex;
    flex-direction: column;
}
.download3 , .download4{
    margin-top: 0;
}
.text1{
    text-align: center;
    width: 60%;
}
.question3{
    width: 80%;
}
.frow , .frow1{
    width: 80%;
}
.ans3{
    width: 80%;
}
.contact h1{
    width: 80%;
}
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
}
.small{
    width: 50%;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 50px;
}
.contact p{
    letter-spacing: 0.3em;
    padding: 0;
    padding-top: 70px;
}
.contact h1{
margin-bottom: 30px;
margin-top: 10px;
}
#footer{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.footerli{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footerli ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}
.footer2{
    display: flex;
    gap: 2rem;
    margin-top: 30px;
}
 .list1{
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    top: -20%;
    left: 50%;
    width: 50%;
    padding: 30px;
    text-align: center;
    transform: translate(-50%,-50%); 
    box-shadow: 5px 5px 10px rgb(207, 207, 207);
    transition: .5s;
} 

}
@media screen and (max-width: 480px){
    #second-section{
        padding: 20px;
    }
    .parent1{
        width: 80%;
    }
    .features{
        margin-top: 80px;
    }
    .features p{
        width: 80%;
    }
    .bkdiv{
        width: 100%;
    }
    .text{
        width: 75%;
    }
    .question3{
        width: 80%;
    }
    .question3{
        font-size: 13px;
    }
    .frow , .frow1{
        width: 80%;
    }
    .ans3{
        width: 800%;
    }
    .contact h1{
        width: 100%;
    }
    .contact p{
        letter-spacing: 0.1em;
    }
    .email{
        width: 60%;
    }
    .small{
        width: 60%;
    }
    .text1{
        width: 80%;
    }
}